<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}


<script type="text/x-mathjax-config">
       MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: false
            },
            "HTML-CSS": { availableFonts: ["TeX"] }
        });
</script>


<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>
